.loader {
  background-color: transparentize(black, 0.2);
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .spinner {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border-top: 2px solid #ccc;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .load-text {
    color: white;
  }

}


