.bgi-pager .pagination {
  margin: 0;
}

.bgi-pager .items-per-page {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .bgi-pager .items-per-page>div {
    float: right;
  }
}

.bgi-pager .items-per-page select {
  display: inline-block;
  width: auto;
}

.active {
  text-decoration: underline;
}
